[submodule "otp"]
	path = otp
	url = git://github.com/erlang/otp.git
	ignore = all
[submodule "emacs"]
	path = emacs
	url = git://repo.or.cz/emacs.git
	ignore = all
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
	ignore = all
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
